@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --dark-blue: #06286E;
  --gray-text: #696671;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}


.text_gradient {
  @apply bg-gradient-to-b from-[#072B73] to-[#154cba] inline-block text-transparent bg-clip-text
}